<body class="d-flex flex-column min-vh-100">
  <main class="flex-grow-1"></main>

  <footer class="footer bg-light pt-4 border-top">
    <div class="container py-4">
      <div class="row pb-4 d-none d-lg-flex">
        <div class="col-lg-3 col-md-4">
          <h5 class="fw-bold mb-3">Support</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Help Center</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >AirCover</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Anti-discrimination</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Disability support</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Cancellation options</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-4">
          <h5 class="fw-bold mb-3">Hosting</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Airbnb your home</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >AirCover for Hosts</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Hosting resources</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Community forum</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Host an Experience</a
              >
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-4">
          <h5 class="fw-bold mb-3">Airbnb</h5>
          <ul class="list-unstyled">
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Newsroom</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >New features</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Careers</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Investors</a
              >
            </li>
            <li>
              <a href="#" class="text-decoration-none text-muted d-block mb-2"
                >Emergency safety</a
              >
            </li>
          </ul>
        </div>
      </div>

      <hr class="mb-4 d-none d-lg-block" />

      <div class="row align-items-center text-center text-md-start">
        <div class="col-md-6 order-2 order-md-1">
          <span class="text-dark">&copy; 2025 Airbnb, Inc.</span>
          <a href="#" class="text-decoration-none mx-2 text-muted">Privacy</a>
          <a href="#" class="text-decoration-none mx-2 text-muted">Terms</a>
          <a href="#" class="text-decoration-none mx-2 text-muted">Sitemap</a>
          <a href="#" class="text-decoration-none mx-2 text-muted"
            >Company details</a
          >
        </div>

        <div
          class="col-md-6 d-flex justify-content-center justify-content-md-end gap-3 mb-3 mb-md-0 order-1 order-md-2"
        >
          <a href="#" class="text-decoration-none text-dark fw-semibold"
            ><i class="fa-solid fa-globe me-1"></i> English (IN)</a
          >
          <a href="#" class="text-decoration-none text-dark fw-semibold"
            ><i class="fa-solid fa-indian-rupee-sign me-1"></i> INR</a
          >
          <a href="#" class="text-decoration-none text-dark"
            ><i class="fa-brands fa-facebook"></i
          ></a>
          <a href="#" class="text-decoration-none text-dark"
            ><i class="fa-brands fa-twitter"></i
          ></a>
          <a href="#" class="text-decoration-none text-dark"
            ><i class="fa-brands fa-instagram"></i
          ></a>
        </div>
      </div>
    </div>
  </footer>
</body>
